<div class="d-flex flex-column flex-shrink-0 p-3 bg-dark text-white" style="width: 280px;">
  
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link active text-white" aria-current="page">
        <i class="bi bi-speedometer2 me-2"></i> Dashboard
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <i class="bi bi-truck me-2"></i> Fornecedores
      </a>
    </li>
    <li>
      <a href="{% url 'brand_list' %}" class="nav-link text-white">
        <i class="bi bi-shop me-2"></i> Marcas
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <i class="bi bi-tags me-2"></i> Categorias
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <i class="bi bi-box-seam me-2"></i> Produtos
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <i class="bi bi-arrow-down-left-square me-2"></i> Entradas
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <i class="bi bi-arrow-up-right-square me-2"></i> Saídas
      </a>
    </li>
  </ul>
  
</div>
